.imagenUSA img {
    position: relative;
    width: 55rem;
}

.fondoRuta {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://www.freevector.com/uploads/vector/preview/28647/Route_66_vector_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.enlaces-fijos {
    position: absolute;
}

.enlace {
    position: absolute;
    text-decoration: none;
    color: white;
    /* Color del texto de los enlaces */
    padding: 5px 10px;
    /* Espaciado opcional alrededor de los enlaces */
}

.miniCartelMapa {
    background-color: #015d52;
    border: 1px solid white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.losAngeles {
    top: -13.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.losAngelesPunto {
    top: -16.1rem;
    left: 3.3rem;
    font-size: 2rem;
    color: orange;
}

.losAngelesPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.lasVegas {
    top: -19rem;
    left: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lasVegasPunto {
    top: -17.4rem;
    left: 6.6rem;
    font-size: 2rem;
    color: orange;
}

.lasVegasPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.flagstaff {
    top: -15rem;
    left: 9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flagstaffPunto {
    top: -17.7rem;
    left: 10rem;
    font-size: 2rem;
    color: orange;
}

.flagstaffPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.alburquerque {
    top: -18rem;
    left: 14rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alburquerquePunto {
    top: -16.3rem;
    left: 16rem;
    font-size: 2rem;
    color: orange;
}

.alburquerquePunto:hover {
    transform: scale(1.5);
    color: brown;
}

.shamrock {
    top: -12rem;
    left: 19rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shamrockPunto {
    top: -14.4rem;
    left: 20.5rem;
    font-size: 2rem;
    color: orange;
}

.shamrockPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.oklahomaCity {
    top: -17rem;
    left: 23rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oklahomaCityPunto {
    top: -14rem;
    left: 25rem;
    font-size: 2rem;
    color: orange;
}

.oklahomaCityPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.springfield {
    top: -15rem;
    left: 35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.springfieldPunto {
    top: -17rem;
    left: 32.3rem;
    font-size: 2rem;
    color: orange;
}

.springfieldPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.chicago {
    top: -25rem;
    left: 33rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chicagoPunto {
    top: -24rem;
    left: 34.4rem;
    font-size: 2rem;
    color: orange;
    animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
}

@keyframes agrandarAchicar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes cambiarColor {
    0% {
        color: orange;
    }

    100% {
        color: brown;
    }
}

.chicagoPunto:hover {
    transform: scale(1.5);
    color: brown;
}

.cartelRuta66 {
    height: 5rem;
    max-width: 5rem;
    top: -23rem;
    left: -2rem;
}

.cartelAuto {
    max-height: 10rem;
    max-width: 10rem;
    top: -24rem;
    left: 18rem;
}

.banderaUSA {
    max-height: 10rem;
    max-width: 10rem;
    top: -30rem;
    left: -5rem;
    transform: rotate(-30deg)
}

@media (max-width: 1337px) {
    .informacionCiudad {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .informacionCiudad .cajaContenido {
        width: 50rem;
    }
}


@media (max-width: 960px) {

    .imagenUSA img {
        position: relative;
        width: 40rem;
    }

    .miniCartelMapa {
        font-size: 0.7rem;
    }

    .losAngeles {
        top: -9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .losAngelesPunto {
        top: -12.1rem;
        left: 1.8rem;
        font-size: 2rem;
        color: orange;
    }


    .lasVegas {
        top: -14.4rem;
        left: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lasVegasPunto {
        top: -13.1rem;
        left: 4.5rem;
        font-size: 2rem;
        color: orange;
    }


    .flagstaff {
        top: -14.4rem;
        left: 8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .flagstaffPunto {
        top: -13.3rem;
        left: 7.5rem;
        font-size: 2rem;
        color: orange;
    }


    .alburquerque {
        top: -9rem;
        left: 9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .alburquerquePunto {
        top: -12.4rem;
        left: 11rem;
        font-size: 2rem;
        color: orange;
    }


    .shamrock {
        top: -12rem;
        left: 15rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .shamrockPunto {
        top: -11rem;
        left: 14.6rem;
        font-size: 2rem;
        color: orange;
    }


    .oklahomaCity {
        top: -7.5rem;
        left: 16rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .oklahomaCityPunto {
        top: -10.6rem;
        left: 18rem;
        font-size: 2rem;
        color: orange;
    }


    .springfield {
        top: -11rem;
        left: 25.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .springfieldPunto {
        top: -13rem;
        left: 23.3rem;
        font-size: 2rem;
        color: orange;
    }

    .chicago {
        top: -19rem;
        left: 22rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .chicagoPunto {
        top: -18rem;
        left: 24.5rem;
        font-size: 2rem;
        color: orange;
        animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
    }

    .cartelAuto {
        max-height: 7rem;
        max-width: 7rem;
        top: -18rem;
        left: 10rem;
    }

    .banderaUSA {
        max-height: 10rem;
        max-width: 10rem;
        top: -22rem;
        left: -5rem;
        transform: rotate(30deg)
    }


}

.cajaCiudadCelu {
    display: none;
}

@media (max-width: 890px) {

    .blanco {
        color: white;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        margin-top: 1rem;
    }

    .contenedor-galeria {
        display: none;
    }

    .cajaContenido {
        display: none;
    }

    .cajaCiudadCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 25rem;
        height: 56rem;
        border-radius: 2rem 2rem 2rem 2rem;
    }

    .infoCiudad {
        display: none;
    }

    .infoCiudad p {
        display: none;

    }

    .textoCelu {
        display: none;
    }

    .fotosCiudad {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .fotosCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #015d52;
        border: 0.1rem solid black;
        border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
        text-align: center;
        margin-bottom: 1rem;
        width: 18rem;
    }

    .fotosCiudad img {
        width: 15rem;
        height: 11rem;
        margin: 0.5rem;
        border: 0.5rem solid white;
    }

    .informacionCiudadChicago p {
        display: none;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 32rem;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border: 2px solid white;
        border-radius: 1rem 1rem 1rem 1rem  ;
        z-index: 2;
        text-align: center;
        padding-top: 3rem;
        opacity: 0;
        /* Inicialmente establece la opacidad a 0 para la animación */
        animation: fadeIn 0.5s ease-in-out forwards;
        /* Agrega una animación de fadeIn con duración de 0.5 segundos */
    }

    /* Definición de la animación */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .popup-image {
        width: 100%;
        height: auto;
        border: 0.5rem solid white;
    }

    .popup-text {
        margin-top: 10px;
        color: white;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: red;
        width: 30px;
    }
}

@media (max-width: 669px) {
    .imagenUSA img {
        position: relative;
        width: 30rem;
    }

    .miniCartelMapa {
        font-size: 0.5rem;
    }

    .losAngeles {
        top: -7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .losAngelesPunto {
        top: -9.6rem;
        left: 1.2rem;
        font-size: 2rem;
        color: orange;
    }


    .lasVegas {
        top: -11.4rem;
        left: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lasVegasPunto {
        top: -10.5rem;
        left: 3rem;
        font-size: 2rem;
        color: orange;
    }


    .flagstaff {
        top: -11.4rem;
        left: 6rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .flagstaffPunto {
        top: -10.5rem;
        left: 5.5rem;
        font-size: 2rem;
        color: orange;
    }


    .alburquerque {
        top: -7rem;
        left: 7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .alburquerquePunto {
        top: -9.8rem;
        left: 8rem;
        font-size: 2rem;
        color: orange;
    }


    .shamrock {
        top: -9.4rem;
        left: 11rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .shamrockPunto {
        top: -8.7rem;
        left: 10.7rem;
        font-size: 2rem;
        color: orange;
    }


    .oklahomaCity {
        top: -5.5rem;
        left: 12rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .oklahomaCityPunto {
        top: -8.4rem;
        left: 13rem;
        font-size: 2rem;
        color: orange;
    }


    .springfield {
        top: -9rem;
        left: 20rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .springfieldPunto {
        top: -10rem;
        left: 17rem;
        font-size: 2rem;
        color: orange;
    }

    .chicago {
        top: -15rem;
        left: 17rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .chicagoPunto {
        top: -14rem;
        left: 18rem;
        font-size: 2rem;
        color: orange;
        animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
    }

    .cartelAuto {
        max-height: 7rem;
        max-width: 7rem;
        top: -19rem;
        left: 14rem;
    }

    .banderaUSA {
        max-height: 7rem;
        max-width: 7rem;
        top: -17rem;
        left: -5rem;
        transform: rotate(-30deg)
    }

    .cartelRuta66 {
        max-height: 6rem;
        max-width: 4rem;
        top: -19rem;
        left: 2rem;
    }
}

@media (max-width: 513px) {
    .cajaCiudadCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white;
        width: 25rem;
        height: 57rem;
        border-radius: 2rem 2rem 2rem 2rem;
        border: 0.1rem solid black;
    }

    .popup {
        width: 25rem;
    }

}


@media (max-width: 489px) {
    .imagenUSA img {
        position: relative;
        width: 26rem;
    }

    .miniCartelMapa {
        font-size: 0.4rem;
    }

    .losAngeles {
        top: -6rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .losAngelesPunto {
        top: -8rem;
        left: 1rem;
        font-size: 1.4rem;
        color: orange;
    }


    .lasVegas {
        top: -9.2rem;
        left: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lasVegasPunto {
        top: -8.7rem;
        left: 2.7rem;
        font-size: 1.4rem;
        color: orange;
    }


    .flagstaff {
        top: -9.2rem;
        left: 4.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .flagstaffPunto {
        top: -8.7rem;
        left: 5rem;
        font-size: 1.4rem;
        color: orange;
    }


    .alburquerque {
        top: -6rem;
        left: 5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .alburquerquePunto {
        top: -8.4rem;
        left: 6.8rem;
        font-size: 1.4rem;
        color: orange;
    }


    .shamrock {
        top: -8.5rem;
        left: 9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .shamrockPunto {
        top: -7.3rem;
        left: 9.4rem;
        font-size: 1.4rem;
        color: orange;
    }


    .oklahomaCity {
        top: -5rem;
        left: 11rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .oklahomaCityPunto {
        top: -7.1rem;
        left: 11.5rem;
        font-size: 1.4rem;
        color: orange;
    }


    .springfield {
        top: -8rem;
        left: 17rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .springfieldPunto {
        top: -8.5rem;
        left: 14.7rem;
        font-size: 1.4rem;
        color: orange;
    }

    .chicago {
        top: -12.5rem;
        left: 15rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .chicagoPunto {
        top: -12rem;
        left: 15.5rem;
        font-size: 1.6rem;
        color: orange;
        animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
    }

    .cartelAuto {
        max-height: 4rem;
        max-width: 4rem;
        top: -15rem;
        left: 10rem;
    }

    .banderaUSA {
        max-height: 5rem;
        max-width: 5rem;
        top: -14rem;
        left: -2rem;
        transform: rotate(-30deg)
    }

    .cartelRuta66 {
        max-height: 3rem;
        max-width: 3rem;
        top: -13rem;
        left: 2rem;
    }

    .cajaTitulo {
        max-width: 22rem;
    }

    .cajaTitulo h2 {
        font-size: 1.5rem;
    }

    .cajaCiudadCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white;
        width: 22rem;
        height: 57rem;
        border-radius: 2rem 2rem 2rem 2rem;
        border: 0.1rem solid black;
    }

    .informacionCiudadChicago p {
        font-size: 0.6rem;
        max-width: 12rem;
    }

    .textoCelu {
        font-size: 0.6rem;
        max-width: 12rem;
    }

}

@media (max-width: 427px) {
    .imagenUSA img {
        position: relative;
        width: 25rem;
    }

    .miniCartelMapa {
        font-size: 0.4rem;
    }

    .losAngeles {
        top: -6rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .losAngelesPunto {
        top: -7.8rem;
        left: 1rem;
        font-size: 1.4rem;
        color: orange;
    }


    .lasVegas {
        top: -9.2rem;
        left: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lasVegasPunto {
        top: -8.6rem;
        left: 2.6rem;
        font-size: 1.4rem;
        color: orange;
    }


    .flagstaff {
        top: -9.2rem;
        left: 4.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .flagstaffPunto {
        top: -8.6rem;
        left: 4.7rem;
        font-size: 1.4rem;
        color: orange;
    }


    .alburquerque {
        top: -6rem;
        left: 5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .alburquerquePunto {
        top: -8rem;
        left: 6.8rem;
        font-size: 1.4rem;
        color: orange;
    }


    .shamrock {
        top: -8rem;
        left: 9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .shamrockPunto {
        top: -7rem;
        left: 9rem;
        font-size: 1.4rem;
        color: orange;
    }


    .oklahomaCity {
        top: -5rem;
        left: 11rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .oklahomaCityPunto {
        top: -7rem;
        left: 11rem;
        font-size: 1.4rem;
        color: orange;
    }


    .springfield {
        top: -8rem;
        left: 17rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .springfieldPunto {
        top: -8.3rem;
        left: 14.1rem;
        font-size: 1.4rem;
        color: orange;
    }

    .chicago {
        top: -12.5rem;
        left: 15rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .chicagoPunto {
        top: -11.7rem;
        left: 15rem;
        font-size: 1.6rem;
        color: orange;
        animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
    }

    .cartelAuto {
        max-height: 4rem;
        max-width: 4rem;
        top: -15rem;
        left: 10rem;
    }

    .banderaUSA {
        max-height: 5rem;
        max-width: 5rem;
        top: -14rem;
        left: -2rem;
        transform: rotate(-30deg)
    }

    .cartelRuta66 {
        max-height: 3rem;
        max-width: 3rem;
        top: -13rem;
        left: 2rem;
    }

    .cajaTitulo {
        max-width: 22rem;
    }

    .cajaTitulo h2 {
        font-size: 1.5rem;
    }

    .cajaCiudadCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white;
        width: 22rem;
        height: 57rem;
        border-radius: 2rem 2rem 2rem 2rem;
        border: 0.1rem solid black;
    }

    .informacionCiudadChicago p {
        font-size: 0.6rem;
        max-width: 12rem;
    }

    .textoCelu {
        font-size: 0.6rem;
        max-width: 12rem;
    }

    .popup {
        width: 20rem;
    }

}

@media (max-width: 405px) {
    .imagenUSA img {
        position: relative;
        width: 22rem;
    }

    .miniCartelMapa {
        font-size: 0.4rem;
    }

    .losAngeles {
        top: -4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .losAngelesPunto {
        top: -7rem;
        left: 0.5rem;
        font-size: 1.4rem;
        color: orange;
    }

    .lasVegas {
        top: -8.2rem;
        left: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lasVegasPunto {
        top: -7.5rem;
        left: 2rem;
        font-size: 1.4rem;
        color: orange;
    }


    .flagstaff {
        top: -8.2rem;
        left: 4.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .flagstaffPunto {
        top: -7.6rem;
        left: 4rem;
        font-size: 1.4rem;
        color: orange;
    }


    .alburquerque {
        top: -5rem;
        left: 4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .alburquerquePunto {
        top: -6.9rem;
        left: 6.4rem;
        font-size: 1.4rem;
        color: orange;
    }


    .shamrock {
        top: -7rem;
        left: 7.9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .shamrockPunto {
        top: -6.4rem;
        left: 7.8rem;
        font-size: 1.4rem;
        color: orange;
    }


    .oklahomaCity {
        top: -4rem;
        left: 9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .oklahomaCityPunto {
        top: -6.2rem;
        left: 9.5rem;
        font-size: 1.4rem;
        color: orange;
    }


    .springfield {
        top: -6rem;
        left: 14rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .springfieldPunto {
        top: -7.5rem;
        left: 12.4rem;
        font-size: 1.4rem;
        color: orange;
    }

    .chicago {
        top: -10rem;
        left: 15rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .chicagoPunto {
        top: -10.5rem;
        left: 13rem;
        font-size: 1.6rem;
        color: orange;
        animation: agrandarAchicar 1s infinite alternate, cambiarColor 1s infinite alternate;
    }

    .cartelAuto {
        max-height: 4rem;
        max-width: 4rem;
        top: -10rem;
        left: 6rem;
    }

    .banderaUSA {
        max-height: 5rem;
        max-width: 5rem;
        top: -14rem;
        left: -2rem;
        transform: rotate(-30deg)
    }

    .cartelRuta66 {
        max-height: 3rem;
        max-width: 3rem;
        top: -13rem;
        left: 2rem;
    }

    .cajaTitulo {
        max-width: 22rem;
    }

    .cajaTitulo h2 {
        font-size: 1.5rem;
    }

    .cajaCiudadCelu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white;
        width: 22rem;
        height: 57rem;
        border-radius: 2rem 2rem 2rem 2rem;
        border: 0.1rem solid black;
    }

    .informacionCiudadChicago p {
        font-size: 0.6rem;
        max-width: 12rem;
    }

    .textoCelu {
        font-size: 0.6rem;
        max-width: 12rem;
    }

}





.sectionLosAngeles {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/granero/museo/los\ angeles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionLasVegas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images8.alphacoders.com/747/747950.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionSpringfield {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://live.staticflickr.com/3284/3004217110_86df681011_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionOklahoma {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://a.travel-assets.com/findyours-php/viewfinder/images/res40/258000/258564-Oklahoma-City.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionChicago {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://www.tastingtable.com/img/gallery/20-best-restaurants-in-chicago-ranked/l-intro-1677774493.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionTexas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/09/21/57/texas-1581901_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionAlburquerque {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://planetofhotels.com/guide/sites/default/files/styles/big_gallery_image/public/text_gallery/Albuquerque-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.sectionFlagstaff {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://flagstaff.momcollective.com/wp-content/uploads/2021/04/Flagstaff-Mom-Collective-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
}

.informacionCiudadChicago {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    border: 0.1rem solid black;
    margin-bottom: 3rem;
    border-radius: 2rem 2rem 2rem 2rem;
}

.informacionCiudadChicago p {
    width: 50rem;
}

.lineaCentro {
    height: 100vh;
}

.lineaImagen {
    position: absolute;
}

.tituloCiudad {
    top: -55rem;
    left: 23rem;
    color: white;
}

.cajaTitulo {
    width: 30rem;
    height: 10rem;
    border: 0.5rem solid white;
    background-color: #015d52;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem
}

.cajaTitulo h2 {
    color: white;
}

.objetosCartel {
    transform: rotate(269deg);
    width: 4rem;
    height: 3rem;
    margin-right: 2rem;
}

.objetosCartel2 {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}

.cajaContenido {
    width: 23rem;
    margin: 2rem;
    color: black;

}

.informacionCiudad {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    background-color: ghostwhite;
    border: 0.1rem solid black;
    margin-bottom: 3rem;
    border-radius: 2rem 2rem 2rem 2rem;
}

.scrollbar-container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

.scrollbar-count {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    color: white;
}

.imagenScroll {
    width: 1.5rem;
}

.contenedor-galeria {
    width: 50rem;
    height: 320px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    margin: 2rem;
}

.contenedor-galeria ul {
    width: 2000px;
}

.contenedor-galeria li {
    position: relative;
    display: block;
    width: 160px;
    float: left;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.contenedor-galeria ul:hover li {
    width: 40px;
    filter: brightness(50%);
}

.contenedor-galeria ul li:hover {
    width: 640px;
    filter: brightness(100%);
}

.contenedor-galeria li img {
    display: block;
    width: 640px;
    height: 340px;
}

.titulo-imagen {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    animation: cambia-color 10s linear infinite;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
    background-size: 400% 400%;
}

@keyframes cambia-color {
    0% {
        background-position: 0%, 50%;
    }

    50% {
        background-position: 100%, 50%;
    }

    100% {
        background-position: 0%, 100%;
    }
}

.titulo-imagen a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 19px;
    text-shadow: 0 1px 2px #000;
    transition: all 0.5s ease;
}

.contenedor-galeria ul li:hover .titulo-imagen {
    top: 0%;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}

.titulo-imagen:hover a {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.titulo-imagen:active {
    background: rgba(255, 255, 255, 0.5);
}

.bordesCidudades {
    position: relative;
    border-bottom: none;
    /* Eliminar el borde inferior predeterminado */

    /* Agregar imagen de fondo al borde */
    background-image: url('../images/granero/diseños/cuadradito.png');
    background-repeat: repeat-x;
    /* Repetir la imagen horizontalmente */
    background-position: bottom center;
    /* Posicionar la imagen en la parte inferior */
    background-size: auto 2rem;
    /* Ajustar el tamaño de la imagen */
}

.bordesCidudades::before {
    content: "";
    position: absolute;
    bottom: 0;
    /* Colocar el borde en la parte inferior */
    left: 0;
    width: 100%;
    height: 2rem;
    /* Altura del borde */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro transparente */
    z-index: 1;
    background-image: url('../images/granero/diseños/cuadradito.png');
    background-repeat: repeat-x;
    /* Repetir la imagen horizontalmente */
    background-position: bottom center;
    /* Posicionar la imagen en la parte inferior */
    background-size: auto 2rem;
    /* Ajustar el tamaño de la imagen */
}

.botMapa {
    display: none;
    position: fixed;
    bottom: 6rem;
    /* Ajusta la distancia desde la parte inferior según tu preferencia */
    right: 30px;
    padding: 10px 20px;
    background-color: rgba(227, 0, 14, .95);
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.botMapa:hover {
    background-color: rgba(10, 10, 10, .65);
}

.imagenBotonMapa {
    color: white;
    width: 2rem;
    height: 2rem;
    padding: 1px 0px;
}

.lineaDeTiempo {
    display: none;
    position: fixed;
    bottom: 1rem;
    border-top: 0.3rem solid gray;
    padding: 10px;

    z-index: 2;
    width: 50rem;
    height: 3rem;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.punto {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 20px;
    color: white;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.lineaCiudades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorAmarillo {
    color: orange;
}

.miniCartel {
    background-color: #015d52;
    border: 1px solid white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    width: 6.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punto-activo {
    background-color: #ff0000;
    /* Cambia el color según tus preferencias */
    transform: scale(1.2);
    /* Cambia el tamaño o los estilos según tus preferencias */
}

@media (max-width: 960px) {
    .lineaDeTiempo {
        max-width: 36rem;
        padding-top: 5px;
    }

    .punto {
        max-width: 1rem;
        max-height: 10rem;
    }


    .miniCartel {
        max-width: 4.3rem;
        font-size: 0.6rem;
    }

}

@media (max-width: 631px) {
    .lineaDeTiempo {
        max-width: 30rem;
        padding-top: 5px;
        top: 8rem;
    }

    .punto {
        max-width: 0.1rem;
        max-height: 10rem;
    }


    .miniCartel {
        max-width: 3.2rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 552px) {
    .lineaDeTiempo {
        max-width: 26rem;
        padding-top: 5px;
    }

    .punto {
        width: 0.001rem;
        margin-left: 2.2rem;
        max-height: 10rem;
    }


    .miniCartel {
        max-width: 3rem;
        font-size: 0.4rem;
    }

    .textoCelu {
        height: 20rem;
    }
}